[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-machina = "*"
django-haystack = "*"
requests = "*"
pysolr = "*"
pillow = "*"
django-ckeditor = "*"
django-userena-ce = "*"
django-guardian = "*"
easy-thumbnails = "*"

[dev-packages]

[requires]
python_version = "3.9"
