{% load static %}
<section id="img_color_select">
    <style>
        .label_full_w {
            width: 100%;
            display: block;
        }
    </style>
    <h3>В данном меню можно сменить иконку и цвет никнейма в чате</h3>
    <p>Ваш баланс: <strong><span id="wnd_my_currency_transfer" data-money="{{ user.money }}">{{ user.money }} ДФ</span></strong>
    </p>
    <p style="text-align: center;color: red;" id="img_color_cause"></p><br>
    <form method="post" id="img_color_select_form">
        {% csrf_token %}
        <fieldset>
            <legend>Иконки:</legend>
            <label class="label_full_w">
            <span style="float: right">
                <i>Цена</i>
                <strong>{{ settings.ico_price }} ДФ</strong>
            </span>
            </label><br>
            {% for choice in form.ico %}
                <span class="radio">{{ choice.tag }}</span>
                <img src="{{ choice.choice_label }}" alt="">
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Цвета никнейма:</legend>
            <label class="label_full_w">
            <span style="float: right"><i>Цена</i>
                <strong>{{ settings.color_price }}  ДФ</strong>
            </span>
            </label><br>
            {% for choice in form.color %}
                <span class="radio">{{ choice.tag }}</span>
                <span style="color: {{ choice.choice_label }}">{{ user.username }}</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <input type="button"
                   onclick="$('input[name=\'ico\']').prop('checked', false);
                $('input[name=\'color\']').prop('checked', false);"
                   value="Сбросить все"/> |
            <input type="submit" value="Отправить">
            <div style="display: inline-block;" class="post_result"></div>
        </fieldset>
    </form>
</section>