<section id="user_transactions" data-current="{{ page_obj.number }}" data-total="{{ page_obj.paginator.num_pages }}">
    <span>Баланс пользователя <i>{{ user }}</i>:
        <strong><span id="wnd_user_currency">{{ user.money }}</span></strong></span><br>
    <span>Ваш баланс: <strong><span id="wnd_my_currency">{{ user_money }}</span></strong></span><br>
    <hr>
    <div id="user_transactions_page">
        {% for money in object_list %}
            <div class="u-rep-history-item">
                <div class="flex-justify-between">
                    {% if money.from_user %}
                        <span class="u-rep-author"><a class="banHUser"
                                                      href="{% url "userena_profile_detail" money.from_user %}"
                                                      target="_blank">
                <b>{{ money.from_user }}</b>
            </a></span>
                    {% endif %}

                    <span class="transact_value {{ money.get_range.class }}">{{ money.get_range.sign }}{{ money.value }} ДФ</span>
                    <span class="u-rep-date">{{ money.add_datetime }}</span>
                </div>
                <div class="u-rep-subj">{{ money.message }}</div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
                <a href="{% url "users:user_money" user.id %}?page=1">
                    <li>&laquo;</li>
                </a>
                <a href="{% url "users:user_money" user.id %}?page={{ page_obj.previous_page_number }}">
                    <li>{{ page_obj.previous_page_number }}</li>
                </a>
            {% endif %}
            {% if page_obj.number != 1 %}
                <a class="is-active" href="#">
                    <li>{{ page_obj.number }}</li>
                </a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="{% url "users:user_money" user.id %}?page={{ page_obj.next_page_number }}">
                    <li>{{ page_obj.next_page_number }}</li>
                </a>
                <a href="{% url "users:user_money" user.id %}?page={{ page_obj.paginator.num_pages }}">
                    <li>&raquo;</li>
                </a>
            {% endif %}
        </ul>
    </div>
</section>