<section id="money_transfer">
    <p style="color: red; text-align: center" id="transfer_fall"></p>
    <span>Ваш баланс: <strong><span id="wnd_my_currency_transfer" data-money="{{ user_money }}">{{ user_money }}</span></strong></span><br>
    <form method="post" id="money_transfer_form">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <fieldset>
                <legend>{{ field.label }}</legend>
                {{ field }}
            </fieldset>
        {% endfor %}
        <fieldset>
            <input type="submit" value="Отправить">
            <div style="display: inline-block;" class="post_result"></div>
        </fieldset>
    </form>
</section>