<section id="user_reputation" data-current="{{ page_obj.number }}" data-total="{{ page_obj.paginator.num_pages }}">
    <span>Репутация <i>{{ user }}</i>: <strong>{{ user.respect }}</strong></span>
    <hr>
    <div id="user_reputation_page">
        {% for rep in object_list %}
            <div class="u-rep-history-item">
                <div class="flex-justify-between">
                    <div title="{{ rep.get_level.text }} [{{ rep.get_level.sign }}{{ rep.value }}]"
                         style="width:16px;height:17px;float:left;background: url('/static/post_stalker/ico/{{ rep.get_level.ico }}') no-repeat 0 0; background-size: contain;">
                    </div>
                    <span class="u-rep-author"><a class="banHUser"
                                                  href="{% url "userena_profile_detail" rep.from_user %}"
                                                  target="_blank">
                <b>{{ rep.from_user }}</b>
            </a></span>
                    <span class="u-rep-date">{{ rep.add_datetime }}</span>
                </div>
                <div class="u-rep-subj">{{ rep.subject }}</div>
                <div>
                    {% if rep.message %}
                        <span><b>Ответ</b>: </span>
                        <i><span><i>{{ rep.message }}</i></span></i>
                    {% endif %}
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <div class="pagination p12">
        <ul>
            {% if page_obj.has_previous %}
                <a href="{% url "users:user_reputation" user.id %}?page=1">
                    <li>&laquo;</li>
                </a>
                <a href="{% url "users:user_reputation" user.id %}?page={{ page_obj.previous_page_number }}">
                    <li>{{ page_obj.previous_page_number }}</li>
                </a>
            {% endif %}
            <a class="is-active" href="{% url "users:user_reputation" user.id %}?page={{ page_obj.number }}">
                <li>{{ page_obj.number }}</li>
            </a>
            {% if page_obj.has_next %}
                <a href="{% url "users:user_reputation" user.id %}?page={{ page_obj.next_page_number }}">
                    <li>{{ page_obj.next_page_number }}</li>
                </a>
                <a href="{% url "users:user_reputation" user.id %}?page={{ page_obj.paginator.num_pages }}">
                    <li>&raquo;</li>
                </a>
            {% endif %}
        </ul>
    </div>

</section>