{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <form action="" method="post" id="password_change_form">
        <fieldset id="password_change_form_reload">
            <legend>{% trans "Change Password" %}</legend>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Change password" %}"/>
        <div style="display: inline-block;" class="post_result"></div>
    </form>
{% endblock %}
